In [3]:
import pandas as pd

In [4]:
poorly_formatted_rows = [2120259, 2446317, 11141080, 11152098, 11152401, 11882086, 12902538, 12935043, 17589538]
df = pd.read_csv('lastfm_data/userid-timestamp-artid-artname-traid-traname.tsv', header=None, skiprows=poorly_formatted_rows, sep='\t')
df.columns = ['user_id', 'timestamp', 'artist_id', 'artist_name', 'track_id', 'track_name']

In [10]:
df.sample(10)

,user_id,timestamp,artist_id,artist_name,track_id,track_name
3461164,user_000170,2007-10-12T22:39:33Z,7adaabfb-acfb-47bc-8c7c-59471c2f0db8,The Human League,65e71806-97e5-44ea-b47e-e17086fc0176,Life Kills
18647260,user_000969,2007-05-08T21:03:43Z,16432a24-c0f1-4de7-8798-81ae46f0b024,Symarip,56db12c0-7603-4a97-a82a-e0cf032b88b8,Skinhead Jamboree
262959,user_000012,2007-09-22T02:41:07Z,9a0117a8-6930-4bb0-9b7b-77362e2a1c6b,Geggy Tah,f864689d-cabb-4598-bddf-3e82e8790fb5,Space Heater
4965320,user_000255,2006-02-07T18:46:01Z,3248ed2d-bada-41b5-a7b6-ac88faa1f1ac,Dixie Chicks,a4273412-b427-4847-bfef-da9faeb60516,Truth No. 2
4219324,user_000215,2006-02-26T06:30:53Z,8e1e03fe-ebbc-467a-b541-857144db10fb,Babyshambles,54802efb-fd1c-4613-957b-6f1be649390e,Fuck Forever
13480128,user_000709,2005-04-20T14:52:58Z,d87e52c5-bb8d-4da8-b941-9f4928627dc8,Abba,abcf042e-1f92-499e-8c2d-418e495ec361,Super Trouper
1150907,user_000054,2008-02-25T12:14:10Z,7dc8f5bd-9d0b-4087-9f73-dc164950bbd8,Queens Of The Stone Age,2af7ea58-df6b-4019-9ab4-29002c713d98,Medication
17527025,user_000909,2006-07-27T00:40:58Z,c26c3822-451f-4545-b55a-bd09a3c815ae,The Auteurs,802e12c9-0d72-4e6d-a090-a7b0309b8c44,Tombstone
10908520,user_000579,2008-12-05T22:14:08Z,1c70a3fc-fa3c-4be1-8b55-c3192db8a884,Röyksopp,8efa69bc-8453-42c8-8949-2a0afd4c8c99,Follow My Ruin
16939333,user_000876,2007-05-14T00:19:11Z,a55c2f1b-3f3f-4d6a-aa30-5e186dbadce6,Suede,aef0d23b-a645-456a-b643-8ea4fccd6608,Animal Nitrate

In [11]:
df.describe()

,user_id,timestamp,artist_id,artist_name,track_id,track_name
count,19098853,19098853,18498005,19098853,16936134,19098841
unique,992,17454730,107295,173921,960402,1083471
top,user_000949,2009-02-26T21:29:15Z,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6,Intro
freq,183103,248,115099,115099,3991,17561

#### Interesting facts:
- Last.FM users tend to like Radiohead
- Most used name for a song is Intro (which makes sense)
- We got data from ~1K users

In [23]:
del df['timestamp'] #don't need timestamps.
print("Radiohead is featured %d times" % len(df[df['artist_name'] == 'Radiohead']))

Radiohead is featured 115099 times

In [30]:
artist_name = df.loc[df['track_id'] == 'db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6'].iloc[0]['artist_name']
track_name = df.loc[df['track_id'] == 'db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6'].iloc[0]['track_name']
print("The most popular track is %s by %s" % (track_name, artist_name))

The most popular track is Such Great Heights by The Postal Service

### Data set is probably biased to indie rock.

In [43]:
print("TOP 25 ARTISTS FEATURED IN THE DATASET")
df.groupby(['artist_name']).count().sort_values('track_name', ascending=False)['track_id'].head(25)

TOP 25 ARTISTS FEATURED IN THE DATASET

artist_name
Radiohead                      111488
The Beatles                     98525
Nine Inch Nails                 82022
Muse                            60967
Coldplay                        60256
Depeche Mode                    57802
Pink Floyd                      55739
Death Cab For Cutie             56451
Placebo                         50632
Elliott Smith                   49306
The Cure                        48553
Britney Spears                  43462
David Bowie                     48285
The Killers                     46206
Kanye West                      44971
Sigur Rós                       40642
Red Hot Chili Peppers           44512
The Smiths                      44854
Metallica                       42546
Interpol                        41871
Björk                           39930
Bloc Party                      38447
Black Rebel Motorcycle Club     34381
Arcade Fire                     39317
Modest Mouse                    38829
Name: track_id, dtype: int64

# Data set is INDEED biased to indie rock.